<div class="album-info">
  <img src={{model.artwork}}>
  <h1>{{model.artist}}</h1>
  <h2>{{model.name}}</h2>
</div>

<table class="album-listing">
  {{#each model.songs as |song|}}
  <tr>
    <td class="song-track">
      <span class="track-number"><{{song.track}}</span>
    </td>
    <td class="song-name">{{song.name}}</td>
    <td class="song-duration">{{song.duration}}</td>
  </tr>
  {{/each}}
  <tr>
    <td class="total-duration" colspan="3">Total Time: 40:03</td>
  </tr>
</table>
